body{
    margin: 0;
    /*background-image: url(./imgs/fondo.jpg);*/
    background: #D8F4EC;
}

p,h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(16, 94, 97);
}

.container,header,.navigator,.body,.footer,.img,.nav-left,.nav-right,.item{
    display: flex;
}
.c-inicio,.c-quienes-somos,.c-mision,.c-vision,.c-contactenos,.imagenes-inicio,.texto-correo,.texto-mecanico{
    display: flex;
}

.container{
    flex-direction: column;
    width: 100%;
}
.header{
    flex-direction: row;
    height: 12.5rem;
    background: linear-gradient(180deg, #076262 2.08%, #19948C 32.81%, #85FFF8 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigator{
    flex-direction: row;
    
}

.footer{
    flex-direction: column;
    
}
.img{
    flex-direction: row;
    justify-content: center;
    padding-top: 122px;
    width: 100%;
    height: 75%;
}
.img img{
    border: 4px solid #55BFB9;
    box-sizing: border-box;
    border-radius: 50%;
}

.navigator {
    display: flex;
    padding-top: 15px;
    flex-direction: row;
    width: 100%;
}
.navigator .nav-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.navigator .nav-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.navigator .nav-left .item {
    flex-direction: row;
}
.navigator .nav-right .item {
    flex-direction: row;
}
.navigator .nav-right .mision {
    padding-left: 20px;
}

.navigator .item a{
    text-decoration: none;
    font-size: 1.5rem;
    color:#148982;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigator .item a:hover{
    text-decoration: none;
    color:#85FFF8;
    box-shadow: #076262;
}



/* BODY */

.c-inicio{
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
}
.c-inicio span{
    
    font-size: 22px;

}
.imagen-inicio-correo{
    display: flex;
    flex-direction: row;
    margin:500px 0;
    width: 100%;
    justify-content: flex-start;
    
}
.imagen-inicio-correo img{
    padding-left: 120px;
    width: 600px;
    height: 400px;
}
.imagen-inicio-correo .texto-correo{
    flex-direction: column;
    padding-left: 14em;
    justify-content: center;
    text-align: center;

   
}
.imagen-inicio-correo .texto-correo span p{
    font-size: 24px;
    
}
.imagen-inicio-correo .texto-correo h1{
    font-size: 38px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(16, 94, 97);
    
}

.imagen-inicio-mecanico{
    display: flex;
    flex-direction: row;
    margin:20px 0;
    width: 100%;
    justify-content: flex-end;
    background: #66CAC4;
    padding: 12em 0 ;
}
.imagen-inicio-mecanico img{
    padding-right: 120px;
    width: 600px;
    height: 400px;
}
.imagen-inicio-mecanico .texto-mecanico{
    flex-direction: column;
    padding-right: 12em;
    text-align: center;
    justify-content: center;
    
}
.imagen-inicio-mecanico .texto-mecanico span p{
    font-size: 24px;
   
}
.imagen-inicio-mecanico .texto-mecanico h1{
    font-size: 38px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(16, 94, 97);
}


.c-inicio h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}


.c-quienes-somos{
    
    margin :500px 0;
    flex-direction: column;
    align-items: center;
}

.c-quienes-somos h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(16, 94, 97);
    font-weight: 200;
}

.imagen-quienes-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    
}
.imagen-quienes-somos img{
    width: 850px;
    height: 400px;
    margin-bottom: 100px;
}
.imagen-quienes-somos span p{
    font-size: 24px;
}

.c-mision-vision{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 300px;
}
.c-mision-vision .c-vision{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.c-mision-vision .c-vision h1{
    font-size: 38px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(16, 94, 97);
}

.c-mision-vision  p{
    font-size: 20px
}

.c-mision-vision .c-mision{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.c-mision-vision .c-mision h1{
    font-size: 38px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(16, 94, 97);
}

.c-mision-vision .c-vision span, .c-mision-vision .c-mision span{
    font-size: 25px;
}

.c-contactenos{
    height: 26em;
    flex-direction: column;
    background: linear-gradient(180deg, #D8F4EC 0%, #77B7B6 33.33%, rgba(8, 61, 65, 0.62) 83.33%);
    padding-top: 6em;
}
.c-contactenos h1{
    padding-left: 4em;
}
.contactenos-descripcion{
    display: flex;
    flex-direction: row;
    padding-top: 4em;
    justify-content: space-between;
}
.contactenos-descripcion .telefonos{
    display: flex;
    flex-direction: column;
    
}
.contactenos-descripcion .telefonos ul{
    list-style: none;
}

.contactenos-descripcion .telefonos p{
    font-size: 20px;
    padding-left: 4em;
}

.contactenos-descripcion .email{
    display: flex;
    align-items: flex-start;
    
}

.email a{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.email a p{
    padding-left: 1em;
    font-size: 20px;
    
}


.contactenos-descripcion .rrss{
    display: flex;
    flex-direction: column;
    


}
.rrss a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color:black;
}
.rrss a p{
    padding-left: 1em;
    font-size: 20px;
    
}

.contactenos-descripcion .rrss a{
    padding: 0 2em;
}

.contactenos-descripcion  a img{
    width: 50px;
    height: 50px;
}



/*MEDIA QUERIES*/

@media(max-width:768px){
    .header{ 
        height: 7em;
    }
    .img{
        padding-top: 4.5em;
    }

    .header .hamburger{
        padding-top: 2em;
        position: fixed;
        display: flex;
        padding-left: 1em;
        height: 3em;
    }

    .navigator .item a{
        
        font-size: 18px;
        
    }
    
}




/* TRANSICIONES*/

.header-scroll{
    position: absolute;
    top: 278px;
    height: 5rem;
    background: linear-gradient(180deg, #076262 2.08%, #19948C 32.81%, #85FFF8 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigator-scroll{

}

.header-scroll-end{

}

.navigator-scroll-end{

}

